<a href="https://colab.research.google.com/github/raghavpragya9/JPM-MODULE1-PY3-REPL/blob/main/Copy_of_Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
newfile=pd.read_excel('new copy.xlsx')

In [ ]:
newfile.describe()

,a,b,c,d,e,f,g,h,i,k,...,w,z,A,B,C,D,E,F,G,H
count,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,22506.000000,...,22506.000000,393.000000,2.248200e+04,22482.000000,22506.000000,22506.000000,22506.000000,22482.000000,22482.000000,22482.000000
mean,355.394828,11.619235,16.597662,2.055018,215.099125,1.110713,223.751596,0.486923,19.858540,0.957529,...,0.721558,2.117048,3.238563e+03,127.994351,2.530766,20.345532,1.180500,0.626972,93.079088,0.925209
std,193.735702,6.891953,5.241631,1.335975,17.848557,0.403041,29.780730,0.107896,24.754255,0.277764,...,0.458840,0.352165,6.752301e+05,166.456725,5.870154,25.366698,1.369607,0.294434,123.606653,0.085018
min,1.000000,0.000000,8.592541,0.329252,185.994827,0.644547,177.728958,0.322466,-1.000389,0.000000,...,0.000000,2.000000,-4.224232e+07,-0.005369,0.000014,-1.022249,0.091786,0.183000,-0.003194,0.774300
25%,181.000000,5.500000,12.701748,0.930583,199.764656,0.791519,198.516579,0.410013,-0.106845,1.000000,...,0.000000,2.000000,-1.755345e+02,0.000473,0.000074,-0.108986,0.101988,0.395000,0.000305,0.842700
50%,355.000000,12.000000,15.650223,1.447720,211.569999,0.913874,212.424286,0.469611,2.093890,1.000000,...,1.000000,2.000000,8.215848e-03,12.239178,0.459891,2.135383,0.155077,0.550000,7.842233,0.959400
75%,521.000000,17.500000,18.922676,3.252273,229.249584,1.406151,252.297249,0.552188,44.333404,1.000000,...,1.000000,2.000000,1.402123e-02,278.334828,2.632900,45.429016,2.504941,0.804110,199.033123,0.992110
max,684.000000,23.500000,68.664917,6.619331,295.302795,4.256011,293.786285,4.198429,88.302856,9.734992,...,7.821229,4.000000,8.732963e+07,508.591257,217.460676,90.522537,5.237456,1.781000,379.682068,1.448100

In [ ]:
newfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22506 entries, 0 to 22505
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       22506 non-null  int64
 1   b       22506 non-null  float64
 2   c       22506 non-null  float64
 3   d       22506 non-null  float64
 4   e       22506 non-null  float64
 5   f       22506 non-null  float64
 6   g       22506 non-null  float64
 7   h       22506 non-null  float64
 8   i       22506 non-null  float64
 9   j       22506 non-null  object
 10  k       22506 non-null  float64
 11  l       22506 non-null  object
 12  m       22506 non-null  float64
 13  n       22506 non-null  object
 14  o       22506 non-null  object
 15  p       22506 non-null  object
 16  q       22506 non-null  object
 17  r       22506 non-null  float64
 18  s       22506 non-null  float64
 19  t       22506 non-null  object
 20  u       22506 non-null  object
 21  v       22506 non-null  float64
 22  w       22506 non-null  float64
 23  x       22482 non-null  object
 24  y       22506 non-null  object
 25  z       393 non-null    float64
 26  A       22482 non-null  float64
 27  B       22482 non-null  float64
 28  C       22506 non-null  float64
 29  D       22506 non-null  float64
 30  E       22506 non-null  float64
 31  F       22482 non-null  float64
 32  G       22482 non-null  float64
 33  H       22482 non-null  float64
dtypes: float64(23), int64(1), object(10)
memory usage: 5.8+ MB

In [ ]:
newfile['h']

0        4.198429
1        0.386569
2        0.806805
3        0.398740
4        0.397431
           ...
22501    0.642312
22502    0.643026
22503    0.599102
22504    0.591796
22505    0.609904
Name: h, Length: 22506, dtype: float64

In [ ]:
d=newfile.iloc[:,3]

0        4.380811
1        4.445973
2        2.319761
3        1.001678
4        0.978869
           ...
22501    1.622734
22502    1.487368
22503    1.209786
22504    1.137914
22505    1.105117
Name: d, Length: 22506, dtype: float64

In [ ]:
q1=newfile.d.quantile(0.25)

In [ ]:
q3=newfile.d.quantile(0.75)

In [ ]:
IQR=q3-q1

In [ ]:
print(IQR)

2.3216900480000002

In [ ]:
max_threshold=newfile['d'].quantile(0.99)

In [ ]:
min_threshold=newfile['d'].quantile(0.05)

In [ ]:
newfile[newfile['d']<min_threshold]

,a,b,c,d,e,f,g,h,i,j,...,y,z,A,B,C,D,E,F,G,H
1770,70,3.5,13.752644,0.340332,196.612869,2.160654,200.609253,0.724505,0.674924,0.100832,...,4.8358214399587044E-004 89.651429649561095,NaN,14.579228,0.007693,0.000494,0.689672,0.103035,0.51967,0.004577,1.0184
1810,71,3.5,14.247269,0.341757,198.393143,2.198222,200.951920,0.719548,0.807534,0.105874,...,5.4559804327668573E-005 3369.2374960752331,NaN,885.078705,0.000245,0.000056,0.825180,0.108188,0.54500,0.000146,1.0209
1849,72,3.5,14.123184,0.342003,197.312622,2.135241,201.296982,0.717820,0.675454,0.101681,...,5.6397192059768455E-005 4013.0860767796516,NaN,1474.151095,0.000172,0.000058,0.690214,0.103903,0.46300,0.000102,1.0059
1889,73,3.5,14.961980,0.344466,202.875305,2.240138,199.147034,0.682612,0.768264,0.105033,...,5.9253600021369630E-005 2898.6540876114154,NaN,759.600322,0.000271,0.000061,0.785052,0.107329,0.38200,0.000161,1.0012
1928,74,3.5,14.637821,0.348281,199.940063,2.061467,199.852707,0.673633,0.670108,0.102708,...,5.2563761507717667E-005 4929.1387835828609,NaN,2050.109845,0.000139,0.000054,0.684751,0.104952,0.36400,0.000083,0.9923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21917,669,7.0,10.377787,0.668405,192.127701,0.900926,187.465607,0.475705,5.274290,0.304021,...,0.98814155838417261 0.21143705869787219,NaN,0.014788,25.490050,1.009734,5.389541,0.310664,0.61215,15.164619,0.8106
21955,670,6.5,10.524805,0.658699,194.917297,0.904353,185.602341,0.507728,1.281676,0.1176,...,2.7282739506615168 0.19400241263952023,NaN,0.082071,6.750856,2.787891,1.309682,0.120170,0.59650,4.016240,0.8124
22067,673,7.0,10.161503,0.661645,192.536865,0.906215,189.247147,0.449137,6.953115,0.394455,...,1.2112181936435171 0.23957298499956986,NaN,0.016873,29.657148,1.237685,7.105052,0.403074,0.55600,17.643722,0.8035
22405,682,6.5,10.807529,0.667714,195.040955,0.892255,182.785477,0.585967,1.696560,0.132773,...,3.5840590088941751 0.16739312174066182,NaN,0.060627,10.356655,3.662376,1.733633,0.135674,0.51100,6.161413,0.8006
22479,684,6.5,10.769227,0.668486,196.248871,0.914610,182.931046,0.582910,1.774481,0.136161,...,3.5502353695890592 0.16815296972642294,NaN,0.058024,10.783373,3.627814,1.813256,0.139136,0.54600,6.415278,0.7938

In [ ]:
newfile[newfile['d']>max_threshold]

,a,b,c,d,e,f,g,h,i,j,...,y,z,A,B,C,D,E,F,G,H
11,15,15.0,67.266762,5.811514,249.391129,1.982938,258.568390,1.162259,20.163629,3.597307,...,2.209661,NaN,NaN,NaN,2.266059,20.678272,3.689122,NaN,NaN,NaN
46,16,14.0,67.037766,5.831876,247.385498,1.930313,258.189392,1.952400,20.950272,4.051333,...,2.4947199331102197 5.1778433930659604E-,2.0,0.010018,414.940924,2.558393,21.484991,4.154737,0.41650,314.152374,1.0000
49,16,16.0,56.606529,5.410996,241.920715,1.410897,256.556061,0.914305,18.520613,2.871898,...,2.4651664493186778 7.0225349692201747E-,2.0,0.010909,270.360609,2.527134,18.986168,2.944089,0.41650,188.506775,1.0000
5657,184,14.0,45.406372,5.660045,245.136810,2.189397,268.173279,0.809766,30.468296,2.791819,...,1.7382092866004535 8.9748990398140313E-,2.0,0.008237,348.148171,1.782574,31.245947,2.863076,0.36600,259.324036,0.9716
5659,184,15.0,68.664917,6.619331,253.906921,2.462290,264.147430,0.411293,18.958757,2.516207,...,2.6969495792673106 7.0861507386327627E-,2.0,0.009432,274.306135,2.765087,19.437746,2.579778,0.36600,199.049728,0.9716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12753,401,14.0,28.614012,5.470644,250.990051,1.804643,278.163269,0.353645,46.666477,2.50708,...,3.3154794184357761 0.15388346064943870,NaN,0.008437,310.555718,3.395258,47.789387,2.567406,0.77444,223.053116,0.9499
12754,401,15.0,28.102158,5.594186,250.680740,1.936334,264.283752,0.423173,32.248798,1.706823,...,3.2558226433239432 0.16839713526973696,NaN,0.009361,195.898651,3.330530,32.988773,1.745987,0.77444,131.583038,0.9499
12789,402,14.0,28.248333,5.414165,250.231262,1.867642,272.403351,0.330372,46.084728,2.476408,...,2.9625429169523221 0.16502652749625910,NaN,0.009039,285.976092,3.033829,47.193642,2.535997,0.76456,205.399078,0.9453
12816,402,14.0,28.248333,5.414165,250.231262,1.867642,272.403351,0.330372,46.084728,2.476408,...,2.9625429169523221 0.16502652749625910,NaN,0.009039,285.976092,3.033829,47.193642,2.535997,0.76456,205.399078,0.9453
17597,538,15.0,22.473681,5.400590,238.737106,2.616007,261.373810,0.406666,40.133362,2.155618,...,2.5168137176308529 0.17144191583135621,NaN,0.009391,239.637452,2.576423,41.083904,2.206673,0.66200,166.798080,0.9391

In [ ]:
newfile[(newfile['d']<max_threshold)&(newfile['d']>min_threshold)]

,a,b,c,d,e,f,g,h,i,j,...,y,z,A,B,C,D,E,F,G,H
0,1,16.5,17.992321,4.380811,240.401108,1.457962,185.030090,4.198429,88.302856,4.860013,...,9.71134,NaN,NaN,NaN,9.955456,90.522537,4.982180,NaN,NaN,NaN
1,2,16.5,18.559444,4.445973,239.735291,2.411693,252.832077,0.386569,33.564102,1.824265,...,2.817898,NaN,NaN,NaN,2.888732,34.407810,1.870122,NaN,NaN,NaN
2,9,11.5,22.082247,2.319761,224.297241,2.598618,258.689301,0.806805,59.371746,3.67003,...,4.043273,NaN,NaN,NaN,4.146471,60.887108,3.763701,NaN,NaN,NaN
3,15,0.0,13.071298,1.001678,203.022644,0.740632,203.011322,0.398740,-0.126135,0.092462,...,0.000406,NaN,NaN,NaN,0.000416,-0.129355,0.094822,NaN,NaN,NaN
4,15,0.5,13.106343,0.978869,203.721893,0.730900,202.748413,0.397431,-0.064175,0.090015,...,0.000397,NaN,NaN,NaN,0.000407,-0.065813,0.092312,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22501,684,20.5,16.047237,1.622734,215.863693,0.857852,204.778122,0.642312,-0.234276,0.100481,...,8.1232153014055796E-005 -273.13491218241370,NaN,-119.970021,0.000876,0.000083,-0.239395,0.102677,0.546,0.000521,0.7938
22502,684,21.0,15.513002,1.487368,214.181641,0.823952,202.005905,0.643026,-0.214844,0.100034,...,4.6041033861908186E-005 -287.49398839831395,NaN,-135.027429,0.000764,0.000047,-0.219539,0.102220,0.546,0.000454,0.7938
22503,684,22.0,14.796203,1.209786,211.907272,0.790952,198.097961,0.599102,-0.346448,0.100029,...,7.3634697526614464E-005 -882.13673021678278,NaN,-303.686461,0.000401,0.000075,-0.354019,0.102215,0.546,0.000239,0.7938
22504,684,22.5,14.582492,1.137914,211.766510,0.804547,196.717575,0.591796,-0.233384,0.100005,...,4.6393280232649282E-005 -458.39205740823860,NaN,-200.813677,0.000520,0.000047,-0.238484,0.102191,0.546,0.000310,0.7938
22505,684,23.0,14.355341,1.105117,209.917099,0.801991,195.289398,0.609904,-0.304290,0.100027,...,4.9305970296741374E-005 -618.96711785853552,NaN,-212.729129,0.000502,0.000050,-0.310939,0.102213,0.546,0.000299,0.7938